@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-orange-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

html {
  @include mat.all-component-themes($theme);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.mat-mdc-card {
  border-radius: 8px !important;
}

.mat-mdc-raised-button, .mat-mdc-outlined-button {
  border-radius: 8px !important;
}

.mat-mdc-form-field {
  width: 100%;
}
